// colors

$black: #111111
$green: #77903f
$white: #ffffff
$yellow: #f3c706
$green--darker: darken($green, 20%)
$green--bright: lighten($green, 20%)
$yellow--bright: lighten($yellow, 20%)
$yellow--darker: darken($yellow, 20%)

// font

$fontSize: 12px
$roboto: 'Roboto', sans-serif

// variables

$headerHeight: 120px
$footerHeight: 100px
$boxShadow: 0px 5px 3px rgba($black, 0.25)
$boxShadow--top: 0px -5px 3px rgba($black, 0.25)
