@import './_variables.sass'

body
  margin: 0
  padding: 0
  width: 100%
  min-height: 100vh
  overflow-x: hidden
  overflow-y: auto

  .input
    border: 1px solid $black
    box-shadow: none
